<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css"/>

    <script src="{{url_for('static',filename='bower_components/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='bower_components/DataTables/media/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{url_for('static',filename='loadjson.js')}}"></script>
</head>
<body>

<button id="reload" value="Refresh"></button>

<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>Country</th>
                <th>Company</th>
                <th>Job_History</th>
                <th>Email</th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>Country</th>
                <th>Company</th>
                <th>Job_History</th>
                <th>Email</th>
            </tr>
        </tfoot>
    </table>
</body>
</html>